# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS fayllari
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3
*.db

# Package distribution
build/
dist/
*.egg-info/
.eggs/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
